*{
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	color: #333;
}
a {
	color: inherit;
	text-decoration: none;
}
.medsos{
	padding: 5px 0;
	background-color: #FFD700;
}
.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 10px;
}
.container {
	width: 80%;
	margin: 0 auto;

}
.container:after{
	content:'';
	display: block;
	clear: both;
}
header h1{
	float: left;
	padding: 15px 0;
	color: #800000;
}
header ul {
		float: right;
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover{
	background-color: #FFD700;
	color: #fff;
}
.active{
	background-color: #FFD700;
	color: #fff;
}
.benner {
	height: 55vh;
	background-image: url('ines.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.benner:after{
	content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(20, 127, 185, 0);
}
.benner h2{
	color: #F5F5F5;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid;
}
.home {
	background: linear-gradient(to center, rgb(62, 254, 255),rgb(173, 255, 48));
	padding:80px 0;
}
section {
	padding:50px 0;
}
.home img {
	width: 170px;
	border-radius: 10px;
	box-shadow: 0 3px 5px #000000;
	margin-bottom: 10px;
}
section h3{
	text-align: center;
	padding: 20px 0;
	color: #147FB9;
	position: relative;
}
section h3::before {
	content:'';
	display: block;
	position: absolute;
	bottom: 0;
	width:120px;
	height:1px;
	background-color: #FFD700;
	left: calc(50% - 60px);
}
section h3::after {
	content:'';
	display: block;
	position: absolute;
	bottom: -1px;
	width:40px;
	height:4px;
	background-color: #FFD700;
	left: calc(50% - 20px);
}
#about p {
	text-align: justify;
	text-indent: 40px;
	line-height: 25px;
	margin-bottom: 15px;
}

#myskill p {
	text-align: justify;
	text-indent: 40px;
	line-height: 25px;
	margin-bottom: 15px;
}
#myorganization p {
	text-align: revert;
	text-indent: 40px;
	line-height: 25px;
	margin-bottom: 15px;
}
#Image {
	text-align: revert;
	text-indent: 40px;
	line-height: 25px;
	margin-bottom: 15px;
	;
}
.col-2 {
	width:50%;
	box-sizing: border-box;
	padding:5px;
	float: left;
	text-align: center;
	margin-bottom: 15px;
}
.col-2 img {
	width:50%;
}
.col-2 a:hover img {
	transform: scale(1.2);
}
#contact p{
	text-align: justify;
	text-indent: 40px;
	line-height: 25px;
	margin-bottom: 15px;
}
.col-3 {
	width:33.33%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding:50px 10px;
}
.col-3 h4 {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}
footer {
	background-color: #333;
	padding:25px;
	text-align: center;
}
footer small {
	color: #fff;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    background-color: #f2f2f2;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.bar-chart {
    position: relative;
    width: 100%;
    margin-top: 15px;
    padding-bottom: 1px;
}

.bar-chart > .legend {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    margin-bottom: -45px;
    border-top: 1px solid #000;
}

.bar-chart > .legend > .label {
    position: relative;
    display: inline-block;
    float: left;
    width: 25%;
    text-align: center;
}

.bar-chart > .legend > .label:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 1px;
    height: 8px;
    background-color: #000;
    margin-top: -8px;
}

.bar-chart > .legend > .label.last:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    content: '';
    width: 1px;
    height: 8px;
    background-color: #000;
    margin-top: -8px;
}
.bar-chart > .legend > .label h4 {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.bar-chart > .chart {
    position: relative;
    width: 100%;
}

.bar-chart > .chart > .item {
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
}

.bar-chart > .chart > .item > .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF8DC;
    z-index: 5;
}

.bar-chart > .chart > .item > .bar > .persen {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    padding-right: 12px;
    z-index: 15;
}

.bar-chart > .chart > .item > .bar > .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #6495ED;
    z-index: 10;
}

.bar-chart > .chart > .item > .bar > .progress > .title {
    display: block;
    position: absolute;
    height: 40px;
    line-height: 40px;
    padding-left: 12px;
    letter-spacing: 2px;
    z-index: 15;
}
